#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config ARCH_BOARD_WEACT_STM32H750
	bool "WeAct Studio STM32H750 Board"
	depends on ARCH_CHIP_STM32H750VB
	select ARCH_HAVE_LEDS
	select ARCH_HAVE_BUTTONS
	select ARCH_HAVE_IRQBUTTONS

if ARCH_BOARD_WEACT_STM32H750

endif # ARCH_BOARD_WEACT_STM32H750
