config MODULES_HEARTBEATD
	tristate "Heartbeat led"
	default n
	---help---
		Enable the Heartbeat led

if MODULES_HEARTBEATD

config MODULES_HEARTBEATD_PROGNAME
	string "Program name"
	default "heartbeatd"
	---help---
		This is the name of the program that will be used when the NSH ELF
		program is installed.

config MODULES_HEARTBEATD_PRIORITY
	int "Heartbeatd task priority"
	default 100

config MODULES_HEARTBEATD_STACKSIZE
	int "Heartbeatd stack size"
	default DEFAULT_TASK_STACKSIZE

endif
