config MODULES_WEBMORDA
	tristate "Webmorda"
	default n
	---help---
		Enable the webmorda module

if MODULES_WEBMORDA

config MODULES_WEBMORDA_PROGNAME
	string "Program name"
	default "webmorda"
	---help---
		This is the name of the program that will be used when the NSH ELF
		program is installed.

config MODULES_WEBMORDA_PRIORITY
	int "Webmorda task priority"
	default 100

config MODULES_WEBMORDA_STACKSIZE
	int "Webmorda stack size"
	default 8192

endif
